*{
    box-sizing: border-box;
    font-family: Arial;
    user-select: none;
}
@font-face {
    font-family: "Fancy Cursive";
    src: url(../fonts/Allura-Regular.ttf);
}
@font-face{
    font-family: "Jojo";
    src: url(../fonts/Naganoshi.otf);
}@font-face{
    font-family: "Regista";
    src: url(../fonts/DemoRegista400.otf);
}

html{background: white;}

/* TOGLIE IL FASTIDIOSO BORDO ATTORNO ALLA PAGINA */
body{padding: 0;margin: 0;}

.page_container{
    max-width: 1600px;
    position: relative;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: column;

    position: relative;
}
/* BARRA BIANCA SUPERIORE CON LOGO */
.white_stripe{
    background: white;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: start;
    align-items: center;
    /* position: relative; */
}
.white_stripe .logo:first-child{
    margin-left: 50px;
}
.logo{
    margin: 0px 0px;
    width: 80px;
    height: 50px;
    padding: 5px;
    /* background: red; */
}
.logo img{height: 100%;}
.white_stripe > p{
    font-family: Jojo;
    font-size: 30px;
}
#home_button{
    position: absolute;
    right: 10px;
    top: 0;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.1s ease-in-out;
}
#home_button img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}
#home_button:hover{
    transform: scale(1.1);
}


/* BARRA GRIGIA CON BOTTONI NAVIGAZIONE */
.nav_stripe{
    background: rgb(40,40,40);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;

    position: absolute;
    top: 50px;
    z-index: 99;
}
.nav_stripe--scroll{
    position: fixed;
    top: 0px;
}
.category_text{
    padding: 0px 15px;
    font-size: 15px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_button{
    height: 100%;
    color: lightgray;
    transition: all 0.1s linear;
    cursor: pointer;
}
.nav_button--active{
    color: rgb(0, 149, 255);
    border-bottom: 3px solid rgb(0, 149, 255);
}
.nav_button a{
    font-size: 15px;
    width: 100%; height: 100%;
    padding: 0px 15px;
    text-decoration: none;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_button p{
    margin: 0;
    transition: all 0.1s linear;
}
.nav_button:hover p{
    color: rgb(0, 149, 255);
}


.donate_button{
    background-color: rgb(0, 149, 255);
    color: white;
    transition: all 0.1s linear;
    cursor: pointer;
    width: 100px;
    height: 70%;
    right: 300px;
    margin-left: 50px;
    /* position: absolute; */
}
/* .donate_button--active{
    color: rgb(0, 149, 255);
    border-bottom: 3px solid rgb(0, 149, 255);
} */
.donate_button a{
    font-size: 15px;
    width: 100%; height: 100%;
    padding: 0px 15px;
    text-decoration: none;
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: white;
}
.donate_button p{
    margin: 0;
    transition: all 0.1s linear;
}
.donate_button img{
    width: 30%;
}
.donate_button:hover{
    background: rgb(107, 193, 255);
}


#pb_banner{
    background: red;
    height: 650px;
    
    display: flex;

    overflow: hidden;
}
#pb_banner__left{
    background: green;
    width: 70%;
    position: relative;
}
#pb_banner__right{
    background: rgb(0, 56, 153);
    width: 30%;
    position: relative;
}
#pb_banner__left img{
    height: 100%;
    right: 0px;
    /* width: 100%; */
    object-fit: fill;
    position: absolute;

    animation: banner_zoom 8s ease-in-out;
}
#pb_banner__left img:nth-child(2){
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    filter: opacity(80%);
}
#pb_banner__right img{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}
#pb_banner__right h2{
    font-family: Fancy Cursive;
    width: 200%;
    text-align: center;
    color: white;
    font-size: 64px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, 30px);
}
@keyframes banner_zoom{
    0% {scale: 1;}
    50% {scale: 1.1;}
    100% {scale: 1;}
}

#other_title{
    background: rgb(0,149,255);
    border: 5px solid #000;
    height: 100px;
    position: absolute;
    z-index: 1;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
}
#other_title h2{
    margin: 0px; padding: 0;
    color: white;
    width: 100%;
    text-align: center;
    font-family: Fancy Cursive;
    font-size: 40px;
}
#other_title img{
    height: 200%;
    object-fit: fill;
}


#plot{
    height: 300px;
    width: 100%;
    background: rgb(20,20,20);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    justify-content: center;
}
#plot h2{
    margin: 0;
    max-width: 70%;
    font-family: Arial;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 5px; margin-bottom: 20px;
    margin-top: 60px;
    /* transform: translateY(10px); */
}
#plot p{
    margin: 0;
    max-width: 80%;
    color: white;
    font-size: 22px;
    text-align: center;
    padding: 5px;
    /* transform: translateY(10px); */
}


#tv{
    background: rgb(0,62,106);
    background: linear-gradient(180deg, rgba(0,62,106,1) 0%, rgba(0,149,255,1) 100%);

    height: 700px;
}
#tv__img{
    /* background: red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tv__img img{
    width: 100%;
    max-width: 900px;
    object-fit: fill;
    transform: translateY(6%);
}
#tv__img video{
    position: absolute;
    width: 100%;
    max-width: 900px;
    object-fit: cover;
    transform: scale(0.841) translateY(-4%);
}


#parts{
    background: rgb(0, 149, 255);
    height: 600px;

    overflow: hidden;

    display: flex;
    flex-direction: column;

    position: relative;
}
#parts h2{
    text-align: center;
    height: 15%;
    padding: 10px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: white;
    font-family: Fancy Cursive;
    font-size: 54px;
    z-index: 1;
}
.parts__cards{
    width: 100%;
    height: 85%;

    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 10px;
    padding: 5px;

    transition: all 0.3s ease-out;
}
.parts_cards--positioner{left: 0px;}
.parts__cards__card{
    width: 16%;
    background: gray;
    border: 5px solid black;

    transition: all 0.1s ease-out;
    position: relative;

    overflow: hidden;

    cursor: pointer;
}
.parts__cards__card a{
    display: block;
    width: 100%; height: 100%;

    transition: all 0.15s ease-out;
}
.parts__cards__card a img{
    display: inline-block;
    height: 110%;
    position: absolute;
    transform: translateX(-80px);
    filter: brightness(50%) saturate(0);

    transition: all 0.15s ease-out;
}
.parts__cards__card:hover{
    transform: scale(1.05) translateY(-10px);
}
.parts__cards__card:hover a img{
    height: 120%;
    filter: brightness(100%) saturate(1);
}
.parts__cards__card:hover a{
    transform: rotate(3deg);
}

.parts__cards__card:nth-child(1){background: yellow;}
.parts__cards__card:nth-child(2){background: green;}
.parts__cards__card:nth-child(3){background: blue;}
.parts__cards__card:nth-child(4){background: fuchsia;}
.parts__cards__card:nth-child(5){background: yellow;}
.parts__cards__card:nth-child(6){background: orange;}

.parts__cards__card:nth-child(1) a img{transform: translateX(-25%) translateY(-10px)}
.parts__cards__card:nth-child(2) a img{transform: translateX(-20%);}
.parts__cards__card:nth-child(3) a img{transform: translateX(-25%);}
.parts__cards__card:nth-child(4) a img{transform: translateX(-20%);}
.parts__cards__card:nth-child(5) a img{transform: translateX(-20%);}
.parts__cards__card:nth-child(6) a img{transform: translateX(-25%);}

.parts__cards__card:nth-child(1):hover a img:nth-child(1){transform: translateX(-120px);}
.parts__cards__card:nth-child(2):hover a img:nth-child(1){transform: translateX(-130px);}
.parts__cards__card:nth-child(3):hover a img:nth-child(1){transform: translateX(-170px);}
.parts__cards__card:nth-child(4):hover a img:nth-child(1){transform: translateX(-130px);}
.parts__cards__card:nth-child(5):hover a img:nth-child(1){transform: translateX(-120px);}
.parts__cards__card:nth-child(6):hover a img:nth-child(1){transform: translateX(-140px);}

.parts__cards__card__tag{
    width: 0%;
    height: 20%;
    background: white;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    overflow: hidden;

    position: absolute;
    bottom: 40px;

    transition: all 0.1s ease-out;

    display: flex;
    align-items: center;
}
.parts__cards__card__tag p{
    color: black;
    width: 100%;
    text-align: center;
    font-family: Regista;
    font-size: 36px;
    margin: 0px 40px;
}
.parts__cards__card:hover .parts__cards__card__tag{
    width: 120%;
    transform: translateX(-10%);
}
#parts > img{
    position: absolute;
    width: 100%; height: 100%;
}

.scroll_button{
    position: absolute;
    width: 50px; height: 50px;
    top: 54%;
    display: none;
    transform: scale(1);

    transition: all 0.2s ease-in-out;
}
.scroll_button img{height: 100%; cursor: pointer;}
.scroll_button--right{
    right: 67%;
    rotate: 90deg;
}.scroll_button--left{
    left: 5px;
    rotate: -90deg;
}
.scroll_button:hover{
    transform: scale(1.3);
}


.gototop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px; height: 40px;
    transform: scale(0);

    transition: all 0.2s ease-in-out;
}
.gototop--show{
    transform: scale(1);
}
.gototop img{
    height: 100%;
    cursor: pointer;
}
.gototop--show:hover{
    transform: scale(1.2);
}

footer{
    background: rgb(20,20,20);
    color: gray;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
}
footer p{
    margin: 0;
    font-size: 14px;
} /* FARE COME BLENDER */


@media (max-width: 1400px){
    .parts__cards__card__tag p{font-size: 28px;}
}
@media (max-width: 1130px){

    .parts__cards__card__tag p{font-size: 36px;}

    #parts{width: 200%;}

    .scroll_button{display: block;}
    .scroll_button--right{right: 50%;}

    .parts__cards__card:nth-child(1) a img{transform: translateX(0%) translateY(-10px)}
    .parts__cards__card:nth-child(2) a img{transform: translateX(-10%);}
    .parts__cards__card:nth-child(3) a img{transform: translateX(-5%);}
    .parts__cards__card:nth-child(4) a img{transform: translateX(-5%);}
    .parts__cards__card:nth-child(5) a img{transform: translateX(10%);}
    .parts__cards__card:nth-child(6) a img{transform: translateX(0%);}
    .parts__cards__card:nth-child(5):hover a img:nth-child(1){transform: translateX(-40px);}
}
@media (max-width: 900px){
    #pb_banner__left{width: 100%;}
    #pb_banner__right{width: 0;}
    #pb_banner__right img{left: -300px;}
    #pb_banner__right p{left: -300px;}
}
@media (max-width: 767px){
    .white_stripe p{font-size: 20px;}
    /* .white_stripe{justify-content: space-between;} */
    /* .white_stripe{display: block;} */
    .white_stripe .logo:first-child{margin-left: 0px;}
    .white_stripe p{width: 75%; text-align: center;}
    .white_stripe .logo:nth-child(3){display: none;}

    .nav_stripe .category_text{display: none;}
    .nav_stripe .donate_button{display: none;}

    #pb_banner{height: 450px;}

    #plot h2{margin-top: 0;}

    #other_title h2{font-size: 26px;}
    #other_title {height: 50px; z-index: 3;}

    #plot{height: 280px;}
    #plot h2{font-size: 20px;}
    #plot p{font-size: 16px;}
    
    #parts{width: 300%;}

    .scroll_button--right{right: 67%;}
}
@media (max-width: 550px){
    #pb_banner{position: relative; width: 100%; height: 350px;}
    #pb_banner__left{width: 0;}
    #pb_banner__right{width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    #pb_banner__right img{top: 0; left: 0; width: 100%; transform: none; position: relative; object-fit: fill;}
    #pb_banner__right h2{margin: 0; top: 0; left: 0; transform: none; position: relative; font-size: 40px;}
    
    #other_title h2{font-size: 18px;}
    #other_title img{height: 150%;}

    #tv{height: 550px;}
    #tv__img img{transform: translateY(5%);}
    #tv__img video{transform: scale(0.841) translateY(-5.1%);}
}
@media (max-width: 500px){
    #parts{height: 450px;}
    .parts__cards__card__tag p{font-size: 28px;}

    #parts h2{font-size: 38px;}
}
