@font-face{
    font-family:"jojo";
    src:url(jojo.ttf); 
}
*{
    font-family: 'arial';
    box-sizing: border-box;
}
body{background: rgb(131, 6, 181);}
header{text-align: center; position: relative; width: 100%; padding: 0px 0px 35px 0px;}
header ul{list-style-type: none; display: none;}
header ul li{padding: 5px 35px 0px 0px;}
a{
    text-decoration: none;
    color: black;
}
video { display: block; width: 100%; height: auto;}
img{width: 100%;}
.tenda{
    width: 160px;
    height: 50px;
    position: absolute;
    right: 50%; bottom: 0;
    transform: translateX(50%);

}
.tenda:hover ul{display: block; transform: translateY(-10px);}