*{
    box-sizing: border-box;
    font-family: Arial;
    user-select: none;
}
@font-face {
    font-family: "Fancy Cursive";
    src: url(fonts/Allura-Regular.ttf);
}
@font-face{
    font-family: "Jojo";
    src: url(fonts/Naganoshi.otf);
}@font-face{
    font-family: "Regista";
    src: url(fonts/DemoRegista400.otf);
}

html{background: rgb(10,10,10);}

/* TOGLIE IL FASTIDIOSO BORDO ATTORNO ALLA PAGINA */
body{padding: 0;margin: 0;}


header{
    display: flex;
    flex-direction: column;

    position: relative;
}
/* BARRA BIANCA SUPERIORE CON LOGO */
.white_stripe{
    background: white;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.white_stripe .logo:first-child{
    margin-left: 200px;
}
.logo{
    margin: 0px 0px;
    width: 80px;
    height: 50px;
    padding: 5px;
    /* background: red; */
}
.logo img{height: 100%;}
.white_stripe > p{
    font-family: Jojo;
    font-size: 30px;
}

/* BARRA GRIGIA CON BOTTONI NAVIGAZIONE */
.nav_stripe{
    background: rgb(40,40,40);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;

    position: absolute;
    top: 50px;
    z-index: 99;
}
.nav_stripe--scroll{
    position: fixed;
    top: 0px;
}
.category_text{
    padding: 0px 15px;
    font-size: 15px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_button{
    /* width: 100px; */
    /* padding: 0px 15px; */
    color: lightgray;
    transition: all 0.1s linear;
    cursor: pointer;
}
.nav_button--active{
    color: rgb(0, 149, 255);
    border-bottom: 3px solid rgb(0, 149, 255);
}
.nav_button a{
    font-size: 15px;
    width: 100%; height: 100%;
    padding: 0px 15px;
    text-decoration: none;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_button p{
    margin: 0;
    transition: all 0.1s linear;
}
.nav_button:hover p{
    color: rgb(0, 149, 255);
}

/* SPIEGAZIONE DELLE PRECEDENTI RIGHE: "nav_stripe" contiene i "nav_button" (con l'hover) che
a loro volta contengono dei link che occupano il 100% delle dimensioni. Per centrare il testo, ai link si aggiunge
un "<p>" che, grazie al flexbox del link, si centra

"nav_strip" flexa "nav_button" che ha "<a>" che flexa "<p>" */


/* BANDIERA (SFONDO VIOLA PER ORA) */
#banner{
    position: relative;

    background: purple;
    width: auto;
    height: 650px;
    text-align: center;
    /* overflow-x: hidden;
    overflow-y: hidden; */
}
#banner > img{
    position: absolute;
    object-fit: cover;
    height: 100%;
    transform: translateX(-50%);
    /* display: none; */
}
/* DIV PER IL TITOLO */
#banner__title{
    /* background: red; */
    /* background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.44870448179271705) 50%, rgba(0,0,0,0.6980042016806722) 100%); */
    position: absolute;
    top: 0px;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: none; */
}
#banner__title__fade{
    display: inline-block;
    position: absolute;
    height: 100%; width: 100%;
    /* object-fit: cover; */
    filter: opacity(80%);
    /* filter:url(); */
}
/* TITOLO (UN'IMMAGINE) */
#banner__title__title{
    width: 700px;
    height: 200px;
    object-fit: cover;
    transform: translateY(18px);
}
#banner__title p{
    font-family: Fancy Cursive;
    font-size: 40px;
    transform: translateY(-18px);
    
    color: white;
}
/* SPIEGAZIONE DELLE PRECEDENTI RIGHE: "banner" è alto 550px e con "position: relative" gli piazziamo "banner_title" dentro.
"banner_title" ha le stesse dimensioni di "banner" e ha un flex che centra "banner_title img" e altro

"banner" contiene "banner_title" che flexa "banner_title img" e altro */


#whats_jojo h2, #stands h2,
#whats_jojo p, #stands p{margin: 0px;}


main{overflow-x: hidden;}
#gallery{
    background: black;
    height: 550px;
    position: relative;
    
    white-space: nowrap;
    width: 10000px;

    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;

    
    /* transform: translateX(-3682px); */
    animation: gallery_slide 32s infinite linear;
}
.gallery__picture{
    display: inline-block;

    width: 650px;
    height: 542px;
    margin: 4px 6px;

    background: lightblue;

    overflow: hidden;

    border: 5px solid white;
}
.gallery__picture img{
    height: 100%;
    object-fit: cover;
}
@keyframes gallery_slide{
    0% {transform: translateX(0px);}
    100% {transform: translateX(-3972px);}
}

.gallery__picture--1 img{transform: translateX(-150px);}
.gallery__picture--2 img{transform: translateX(-120px);}
.gallery__picture--3 img{transform: translateX(-300px);}
.gallery__picture--4 img{transform: translateX(-50px);}
.gallery__picture--5 img{transform: translateX(-150px);}
.gallery__picture--6 img{transform: translateX(-150px);}


.whats_jojo{
    background: rgb(0, 149, 255);
    height: 600px;
    position: relative;
    overflow: hidden;
}
.whats_jojo img{
    height: 100%;
    padding: 40px;
    padding-bottom: 0px;
    position: absolute;
    bottom: -400px;

    transition: all 0.5s ease-out;
}
.whats_jojo img:nth-child(3){
    right: 0px;
    /* bottom: -450px; */
}
.whats_jojo--show img{
    bottom: 0px;
}
.whats_jojo__box{
    width: 40%;
    margin: auto;
}
.whats_jojo__box h2{
    text-align: center;
    color: white;
    font-family: Fancy Cursive;
    font-size: 78px;
}


#stands{
    background: red;
    height: 550px;
}


#parts{
    background: white;
    height: 650px;

    overflow-x: hidden;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
}
#parts h2{text-align: center; height: 10%; margin-bottom: 0px; padding-bottom: 0px; color: black;}
#parts__cards{
    height: 90%;
    /* background-color: white; */
    margin: 10px;

    display: flex;
    justify-content: space-evenly;
}
.parts__cards__card{
    width: 16%;
    background: gray;
    border: 5px solid black;

    transition: all 0.1s ease-out;
    position: relative;

    overflow-x: hidden;
    overflow-y: hidden;
}
.parts__cards__card a{
    display: block;
    width: 100%; height: 100%;

    transition: all 0.15s ease-out;
}
.parts__cards__card a img{
    display: inline-block;
    height: 110%;
    position: absolute;
    transform: translateX(-80px);
    filter: brightness(50%) saturate(0);

    transition: all 0.15s ease-out;
}
.parts__cards__card:hover{
    transform: scale(1.05) translateY(-10px);/* rotate(-1deg); */
}
.parts__cards__card:hover a img{
    height: 120%;
    filter: brightness(100%) saturate(1);
}
.parts__cards__card:hover a{
    transform: rotate(3deg);
}

.parts__cards__card:nth-child(1){background: yellow;}
.parts__cards__card:nth-child(2){background: green;}
.parts__cards__card:nth-child(3){background: blue;}
.parts__cards__card:nth-child(4){background: fuchsia;}
.parts__cards__card:nth-child(5){background: yellow;}
.parts__cards__card:nth-child(6){background: orange;}

.parts__cards__card:nth-child(1) a img{transform: translateX(-80px) translateY(-10px)}
.parts__cards__card:nth-child(2) a img{transform: translateX(-80px);}
.parts__cards__card:nth-child(3) a img{transform: translateX(-90px);}
.parts__cards__card:nth-child(4) a img{transform: translateX(-80px);}
.parts__cards__card:nth-child(5) a img{transform: translateX(-60px);}
.parts__cards__card:nth-child(6) a img{transform: translateX(-80px);}

.parts__cards__card:hover a img:nth-child(1){
    transform: translateX(-120px);
}
.parts__cards__card__tag{
    width: 0%;
    height: 20%;
    background: white;
    /* filter: opacity(80%); */
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    overflow: hidden;

    position: absolute;
    bottom: 40px;

    transition: all 0.1s ease-out;

    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.parts__cards__card__tag p{
    color: black;
    /* filter: opacity(100%); */
    min-width: 10px; max-width: 10px;
    /* text-align: center; */
    font-family: Regista;
    font-size: 36px;
    margin-left: 50px;
}
.parts__cards__card:hover .parts__cards__card__tag{
    width: 120%;
}

.parts__cards__card:nth-child(4) p{min-width: 200px; margin-left: 35px;}
.parts__cards__card:nth-child(5) p{margin-left: 70px;}
.parts__cards__card:nth-child(6) p{margin-left: 80px;}


.gototop{
    /* background: red; */
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px; height: 40px;
    transform: scale(0);

    transition: all 0.2s ease-in-out;
}
.gototop--show{
    transform: scale(1);
}
.gototop img{
    /* object-fit: cover; */
    height: 100%;
    cursor: pointer;
}
.gototop--show:hover{
    transform: scale(1.2);
}

footer{
    background: rgb(20,20,20);
    color: gray;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
}
footer p{
    margin: 0;
    font-size: 14px;
} /* FARE COME BLENDER */
